name: Rust

on:
  push:
    branches:
      - main
    tags-ignore:
      - "**-action-build-**"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-on-windows:

    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4.2.0
        env:
          cache-name: cache-cargo
        with:
          path: |
            ./target
            ~/.cargo
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: build-debug
        run: cargo build
      - name: build-release
        run: cargo build --release

      - name: upload-debug-build
        uses: actions/upload-artifact@v4.5.0
        with:
          # Artifact name
          name: windows-build-debug
          # A file, directory or wildcard pattern that describes what to upload
          path: ./target/debug/multiply_or_release.exe

      - name: upload-release-build
        uses: actions/upload-artifact@v4.5.0
        with:
          # Artifact name
          name: windows-build-release
          # A file, directory or wildcard pattern that describes what to upload
          path: ./target/release/multiply_or_release.exe




  build-on-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4.2.0
        env:
          cache-name: cache-cargo
        with:
          path: |
            ./target
            ~/.cargo
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: pre-build
        run: sudo apt-get install -y libudev-dev libasound2-dev

      - name: build-debug
        run: cargo build
      - name: build-release
        run: cargo build --release

      - name: upload-debug-build
        uses: actions/upload-artifact@v4.5.0
        with:
          # Artifact name
          name: linux-build-debug
          # A file, directory or wildcard pattern that describes what to upload
          path: ./target/debug/multiply_or_release
          # The desired behavior if no files are found using the provided path.

      - name: upload-release-build
        uses: actions/upload-artifact@v4.5.0
        with:
          # Artifact name
          name: linux-build-release
          # A file, directory or wildcard pattern that describes what to upload
          path: ./target/release/multiply_or_release
          # The desired behavior if no files are found using the provided path.


  upload-release:
    runs-on: ubuntu-latest

    needs:
      - build-on-windows
      - build-on-linux

    steps:
      - name: download-windows-build
        uses: actions/download-artifact@v4.1.8
        with:
          # Name of the artifact to download. If unspecified, all artifacts for the run are downloaded.
          name: windows-build-release
          # Destination path. Supports basic tilde expansion. Defaults to $GITHUB_WORKSPACE
          path: ./release/

      - name: download-linux-build
        uses: actions/download-artifact@v4.1.8
        with:
          # Name of the artifact to download. If unspecified, all artifacts for the run are downloaded.
          name: linux-build-release
          # Destination path. Supports basic tilde expansion. Defaults to $GITHUB_WORKSPACE
          path: ./release/

      - name: test
        run: ls ./release

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "./release/*"
          token: ${{ secrets.RELEASE_TOKEN }}
          commit: "refs/heads/main"
          prerelease: true
          tag: -action-build-${{ github.sha }}
          artifactErrorsFailBuild: false

